#Primeiro-Titulo{
    color: rgb(105, 236, 193);
}
#Segundo-Titulo{
    
    color: chartreuse;
}
#Terceiro-Titulo{
    color: rgb(128, 125, 118);
  
}
#Titulos-unidos-jamais-serao-vencidos{
    font-family: "Comic Sans Ms";
}